@implements IDisposable

<RadzenCard>
    @if (Data.Type == PropertyType.State) {
        <h4>@Data.Name</h4>
        <h2 class="text-center">@Data.Value @Data.Unit</h2>
    } else if (Data.Type == PropertyType.Parameter) {
        <div>
            <h4>@Data.Name</h4>
            <a href="javascript:;" @onclick="Edit">
                <h2 class="text-center" hidden="@_isEditting">@Data.Value @Data.Unit</h2>
            </a>
        </div>

        <div class="input-group justify-content-center" hidden="@(!_isEditting)">
            <RadzenNumeric ShowUpDown="true" TValue="int" @bind-Value=@_targetValue Placeholder=""/>
            <RadzenButton Text="SET" Click="SetTargetValue"></RadzenButton>
        </div>
    }

</RadzenCard>

@code {

    [Parameter]
    public ClientIntegerProperty Data { get; set; }

    private bool _isEditting;

    private int _targetValue;

    private void Edit() {
        _targetValue = Data.Value;
        _isEditting = !_isEditting;
        StateHasChanged();
    }

    protected override void OnInitialized() {
        Data.PropertyChanged += HandleDataPropertyChanged;
        base.OnInitialized();
    }

    private void HandleDataPropertyChanged(object sender, PropertyChangedEventArgs e) {
        StateHasChanged();
    }

    void IDisposable.Dispose() {
        Data.PropertyChanged -= HandleDataPropertyChanged;
    }

    private void SetTargetValue() {
        Data.Value = _targetValue;
        _isEditting = false;
        StateHasChanged();
    }

}