<RadzenCard>
    <h4>@Data.Caption</h4>
    <div class="input-group justify-content-center">
        <div>
            <RadzenButton Text="@Data.Button1Caption" Click="@Data.ExecuteButton1Action"></RadzenButton>
            <RadzenButton Text="@Data.Button2Caption" Click="@Data.ExecuteButton2Action"></RadzenButton>
        </div>
    </div>
</RadzenCard>

@code {
    [Parameter]
    public MqttCommandData Data { get; set; }
}