<MudNavMenu>

    <div hidden="@(!_isScanning)">
        <MudAlert Square="true" Severity="Severity.Info" Variant="Variant.Filled">Scanning...</MudAlert>
    </div>

    <div hidden="@(_isScanning)">
        <MudButton OnClick="HandleRescanButtonClick" StartIcon="@Icons.Filled.Search" FullWidth="true" Variant="Variant.Text" Color="Color.Default">Rescan</MudButton>
    </div>

    <MudNavGroup Icon="@Icons.Filled.List" Title="Ready Devices" Expanded="true">
        @foreach (var device in _devices.Where(d => d.State == DeviceState.Ready).OrderBy(d => d.Id)) {
            <MudNavLink Href="@("devices/" + device.Id)" Icon="@Icons.Filled.Apps" IconColor="Color.Success">
                @device.Name
            </MudNavLink>
        }
    </MudNavGroup>

    <MudNavGroup Icon="@Icons.Filled.List" Title="Alerts" Expanded="true">
        @foreach (var device in _devices.Where(d => d.State == DeviceState.Alert).OrderBy(d => d.Id)) {
            <MudNavLink Href="@("devices/" + device.Id)" Icon="@Icons.Filled.Apps" IconColor="Color.Error">
                @device.Name
            </MudNavLink>
        }
    </MudNavGroup>

    <MudNavGroup Icon="@Icons.Filled.List" Title="Lost Devices" Expanded="false">
        @foreach (var device in _devices.Where(d => d.State == DeviceState.Lost).OrderBy(d => d.Id)) {
            <MudNavLink Href="@("devices/" + device.Id)" Icon="@Icons.Filled.Apps" IconColor="Color.Warning">
                @device.Name
            </MudNavLink>
        }
    </MudNavGroup>

    <MudNavGroup Icon="@Icons.Filled.List" Title="Dashboards" Expanded="true">
        @foreach (var dashboard in _dashboards) {
            <MudNavLink Href="@("dashboards/" + dashboard.Id)" Icon="@Icons.Filled.Dashboard">
                @dashboard.Name
            </MudNavLink>
        }

        <MudButton OnClick="HandleCreateDashboardClick" FullWidth="true" Variant="Variant.Text" Color="Color.Default">Create new</MudButton>
    </MudNavGroup>

</MudNavMenu>