@page "/"
@using Microsoft.AspNetCore.SignalR.Client

<div class="container-fluid">
    @foreach (var homieDevice in _homieDevices.Where(d => d.State == HomieState.Init | d.State == HomieState.Ready | d.State == HomieState.Alert | d.State == HomieState.Sleeping).OrderBy(d => d.DeviceId)) {
        <HomieDeviceView Data="@homieDevice"/>
    }
    @foreach (var homieDevice in _homieDevices.Where(d => d.State == HomieState.Disconnected | d.State == HomieState.Lost).OrderBy(d => d.DeviceId)) {
        <HomieDeviceView Data="@homieDevice"/>
    }
</div>


<nav class="navbar fixed-bottom navbar-expand-sm navbar-light bg-light">
    <div>
        <span class="@GetSignalRBadgeClass()">SignalR: @_mqttHubBroker.Connection.State.ToString()</span>
        <span class="badge badge-info">Topics: @_topicsCount</span>
        <a href="@_sourceCodeUrl" class="badge badge-info ml-1">Version: @_version</a>
    </div>
</nav>

@code {

    string GetSignalRBadgeClass() {
        if (_mqttHubBroker.Connection.State == HubConnectionState.Connected) {
            return "badge badge-info";
        } else {
            return "badge badge-danger";
        }
    }

}