@page "/"
@using Microsoft.AspNetCore.SignalR.Client

<div class="container-fluid">
    @foreach (var homieDevice in _homieDevices) {
        <h2>@homieDevice.Name [@homieDevice.State]</h2>
        <div>
            <HomieDeviceView Data="@homieDevice"/>
        </div>
    }
</div>


<nav class="navbar fixed-bottom navbar-expand-sm navbar-light bg-light">
    <div>
        <span class="@GetSignalRBadgeClass()">SignalR: @_mqttHubConnection.State.ToString()</span>
        <span class="badge badge-info">Topics: @_topicsCount</span>
        <a href="@_sourceCodeUrl" class="badge badge-info ml-1">Version: @_version</a>
    </div>
</nav>

@code {

    string GetSignalRBadgeClass() {
        if (_mqttHubConnection.State == HubConnectionState.Connected) {
            return "badge badge-info";
        } else {
            return "badge badge-danger";
        }
    }



}