@page "/"

<div class="container-fluid">
    @foreach (var homieDevice in _homieDevices) {
        <h2>@homieDevice.Name</h2>
        <div>
            <HomieDeviceView Data="@homieDevice"/>
        </div>
    }
</div>


<nav class="navbar fixed-bottom navbar-expand-sm navbar-light bg-light">
    <div>
        <span class="badge badge-info">SignalR: @_mqttHubConnection.State.ToString()</span>
        <span class="badge badge-info">Topics: @_topicsCount</span>
        <span class="badge badge-info">Version: @_version</span>
    </div>
</nav>