@page "/dashboards/{DashboardId}"
@implements IDisposable

<Iterations Items="_nodes" Context="node">
    <MudText Class="mb-2" Typo="Typo.h6" Color="Color.Primary">@node.Name</MudText>

    <MudGrid Class="my-1 d-flex">
        <Iterations Items="node.Properties" Context="property">
            <MudItem Class="pa-1 flex-grow-1">
                <DeviceProperty AlternativePropertyName="@property.AlternativeName" PropertyPath="@property.ActualPropertyPath">
                    <Buttons>
                        <MudMenu Size="Size.Small" Icon="@Icons.Material.Filled.MoreVert">
                            <MudMenuItem Disabled="!CanMoveUp(node, property)" OnClick="() => MoveProperty(node, property, -1)">
                                <MudGrid Class="pa-2">
                                    <MudIcon Icon="@Icons.Filled.ArrowUpward" Size="Size.Small"/>
                                    <MudText>Move up</MudText>
                                </MudGrid>
                            </MudMenuItem>

                            <MudMenuItem Disabled="!CanMoveDown(node, property)" OnClick="() => MoveProperty(node, property, +1)">
                                <MudGrid Class="pa-2">
                                    <MudIcon Icon="@Icons.Filled.ArrowDownward" Size="Size.Small"/>
                                    <MudText>Move down</MudText>
                                </MudGrid>
                            </MudMenuItem>

                            <MudMenuItem OnClick="() => RemoveProperty(node, property)">
                                <MudGrid Class="pa-2">
                                    <MudIcon Icon="@Icons.Filled.DeleteForever" Size="Size.Small"/>
                                    <MudText>Remove</MudText>
                                </MudGrid>
                            </MudMenuItem>
                        </MudMenu>
                    </Buttons>
                </DeviceProperty>
            </MudItem>
        </Iterations>
    </MudGrid>
</Iterations>

<div class="mt-10">
    <MudButton OnClick="AddNode">Add node</MudButton>
    <MudButton OnClick="RemoveDashboard">Remove dashboard</MudButton>
</div>