@page "/dashboards/{DashboardId}"
@implements IDisposable

<Iterations Items="_nodes" Context="node">
    <div class="d-flex">
        <MudText Typo="Typo.h6" Color="Color.Primary">@node.Name</MudText>
        
        <MudMenu Size="Size.Small" Icon="@Icons.Material.Filled.MoreVert">
            <MudMenuItem  OnClick="() => RenameNode(node)">
                <div class="d-flex">
                    <MudIcon Class="mr-2" Icon="@Icons.Filled.Edit" Size="Size.Small"/>
                    <MudText>Rename node</MudText>
                </div>
            </MudMenuItem>

            <MudMenuItem OnClick="() => RemoveNode(node)">
                <div class="d-flex">
                    <MudIcon Class="mr-2" Icon="@Icons.Filled.DeleteForever" Size="Size.Small"/>
                    <MudText>Remove node</MudText>
                </div>
            </MudMenuItem>
        </MudMenu>
    </div>

    <MudGrid Class="my-1 d-flex">
        <Iterations Items="node.Properties" Context="property">
            <MudItem Class="pa-1 flex-grow-1">
                <DeviceProperty AlternativePropertyName="@property.AlternativeName" PropertyPath="@property.ActualPropertyPath">
                    <Buttons>
                        <MudMenu Size="Size.Small" Icon="@Icons.Material.Filled.MoreVert">
                            <MudMenuItem Disabled="!CanMoveUp(node, property)" OnClick="() => MoveProperty(node, property, -1)">
                                <div class="d-flex">
                                    <MudIcon Class="mr-2" Icon="@Icons.Filled.ArrowUpward" Size="Size.Small"/>
                                    <MudText>Move up</MudText>
                                </div>
                            </MudMenuItem>

                            <MudMenuItem Disabled="!CanMoveDown(node, property)" OnClick="() => MoveProperty(node, property, +1)">
                                <div class="d-flex">
                                    <MudIcon Class="mr-2" Icon="@Icons.Filled.ArrowDownward" Size="Size.Small"/>
                                    <MudText>Move down</MudText>
                                </div>
                            </MudMenuItem>

                            <MudMenuItem OnClick="() => RemoveProperty(node, property)">
                                <div class="d-flex">
                                    <MudIcon Class="mr-2"  Icon="@Icons.Filled.DeleteForever" Size="Size.Small"/>
                                    <MudText>Remove</MudText>
                                </div>
                            </MudMenuItem>
                        </MudMenu>
                    </Buttons>
                </DeviceProperty>
            </MudItem>
        </Iterations>
    </MudGrid>
</Iterations>

<div class="mt-10">
    <MudButton OnClick="AddNode">Add node</MudButton>
    <MudButton OnClick="RemoveDashboard">Remove dashboard</MudButton>
</div>